@charset "UTF-8";
/* CSS Document */

* {
margin: 0;
padding:0;	
}
body {
	font: 85%/1.4 Arial;
	background: #f8f0e8 url("../images/paper-bg.jpg") repeat fixed;
	margin: 0;
	padding: 0;
	color: #333;
}
/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}
h1 {
	font-size: 28px;
	color: #6f4715;
	padding:0 0 5px 0;
	margin:0;
}
h2 {
	font-size: 22px;
	color: #6f4715;
	padding:0 0 5px 0;
}
h3 {
	font-size:18px;
	color: #336600;
}
h4 {
	font-size: 15px;
	color: #333333;
}
h5 {
	font-size: 12px;
	color: #333;
}
h6 {
	font-weight: bold;
}
P {
	color: #444;
	padding: 0 0 10px 0;
}
a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}
/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	color: #876846;
	text-decoration: none; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
	color: #876846;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: underline;
}
/* ~~ This fixed width container surrounds all other blocks ~~ */
#wrapper {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}
.container {
	width: 1216px;
	margin: -3px auto 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
	background: url(../images/content-bg.png) repeat-y left;
}
/* ~~ The header is not given a width. It will extend the full width of your layout. ~~ */
header {
	background: url(../images/header-bg.png) repeat-x;
	height: 281px;
	/*position: fixed;
	top: 0;*/
	width: 100%;
}
/* ~~ These are the columns for the layout. ~~ 

1) Padding is only placed on the top and/or bottom of the block elements. The elements within these blocks have padding on their sides. This saves you from any "box model math". Keep in mind, if you add any side padding or border to the block itself, it will be added to the width you define to create the *total* width. You may also choose to remove the padding on the element in the block element and place a second block element within it with no width and the padding necessary for your design.

2) No margin has been given to the columns since they are all floated. If you must add margin, avoid placing it on the side you're floating toward (for example: a right margin on a block set to float right). Many times, padding can be used instead. For blocks where this rule must be broken, you should add a "display:inline" declaration to the block element's rule to tame a bug where some versions of Internet Explorer double the margin.

3) Since classes can be used multiple times in a document (and an element can also have multiple classes applied), the columns have been assigned class names instead of IDs. For example, two sidebar blocks could be stacked if necessary. These can very easily be changed to IDs if that's your preference, as long as you'll only be using them once per document.

4) If you prefer your nav on the left instead of the right, simply float these columns the opposite direction (all left instead of all right) and they'll render in reverse order. There's no need to move the blocks around in the HTML source.

*/
.leftBar {
	float: left;
	width: 220px;
	padding: 0;
}
.rightBar {
	float: right;
	width: 220px;
	padding: 0;
}
.content {
	margin: 0 auto;
	width: 1160px;
	overflow: hidden;
	padding: 20px;
}
.contentInner {
	padding: 0;
	width: 660px;
	float: left;
	margin: 0 30px;
}
aside {
	float: left;
	width: 220px;
	padding: 0;
	margin:0 0 15px 0;
}
/* ~~ This grouped selector gives the lists in the .content area space ~~ */
.contentInner ul, .contentInner ol {
	padding: 0 15px 15px 40px; /* this padding mirrors the right padding in the headings and paragraph rule above. Padding was placed on the bottom for space between other elements on the lists and on the left to create the indention. These may be adjusted as you wish. */
}
nav {
	margin: 13px auto 0 auto;
	overflow: hidden;
	width: 1200px;
}
#social {
	float: right;
	text-align: right;
}
#translations
{
    float: left;
	text-align: right;
	margin: 0 20px 0 0;
	color:#fff;
	border:solid 1px #d66d00;
	padding:5px;
	background:#d66d00;
	font-size:12px;
}
#translations a{
color:#fff;
padding: 8px;
margin:3px 0 0 0;
}
#translations a:hover
{
    text-decoration:underline;
    /*zoom: 1;
	filter: alpha(opacity=30);
	opacity: 0.5;*/
}
/* ~~ The navigation list styles (can be removed if you choose to use a premade flyout menu like Spry) ~~ */
ul.nav {
	list-style: none; /* this removes the list marker */
}
ul.nav li {
	float: left;
	margin: 2px 30px 0 0;
	color: #ffffff;
}
ul.nav a, ul.nav a:visited { /* grouping these selectors makes sure that your links retain their button look even after being visited */
	display: block; /* this gives the link block properties causing it to fill the whole LI containing it. This causes the entire area to react to a mouse click. */
	text-decoration: none;
	color: #FFF;
	font-size: 18px;
	padding: 0 0 11px 0;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus { /* this changes the background and text color for both mouse and keyboard navigators */
	border-bottom: solid 4px #fcecd2;
	color: #FFF;
}
.ulActive { /* this changes the background and text color for both mouse and keyboard navigators */
	border-bottom: solid 4px #fcecd2;
	color: #FFF;
}
/* ~~ The footer ~~ */
footer {
	background: #d4c7bb url(../images/footer-bg.png) repeat-x;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
	width: 1140px;
	padding: 20px 30px 0 30px;
	margin: 0 auto;
	height: 37px;
	color: #555555;
	text-align:center;
}
/* ~~ Miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty block element as the final element following the last floated block (within the .container) if the footer is removed or taken out of the .container */
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0px;
}
/*HTML 5 support - Sets new HTML 5 tags to display:block so browsers know how to render the tags properly. */
header, section, footer, aside, article, figure {
	display: block;
}
.headerInner {
	margin: 0 auto;
	width: 1200px;
	overflow: hidden;
	background: url(../images/header-banner.png) no-repeat right bottom;
	height: 222px;
}
#logo {
	float: left;
	margin: 30px 0 0 0;
}

.banner {
width: 660px;
height:250px;	
}

.banner a .img {
	border: solid 3px #cc9966;
	width:654px;
	height:294px;
}
.banner .desc {
	color: #336600;
	border-bottom:solid 1px #cc9966;
	padding:10px 0;
}
.brown {
	color: #6f4715;
}
.green {
	color: #336600;
}
.bottomBorder {
	border-bottom:solid 1px #cc9966;
}
.greenbtn {
	background:#a7ae00;
	color:#fff;
	padding:5px;
	margin:0;
	border:0;
	cursor:pointer;
}
.greenbtn:hover {
	background:#909600;
}
.orangebtn {
	background:#e26f00;
	color:#fff;
	padding:5px;
	margin:0;
	border:0;
}
.orangebtn:hover {
	background:#c86200;
	cursor:pointer;
}
.greensidebtn{
	background: #a7ae00;
	color:#fff;
	width:220px;
	padding:8px 0;
	font-size:13px;
	border:0;
	cursor:pointer;
}
.greensidebtn:hover{
	background: #909600;
}
.tansidebtn {
	background: #f6d8ba;
	color:#6f4715;
	width:220px;
	padding:8px 0;
	font-size:13px;
	border:0;
	cursor:pointer;
}
.tansidebtn:hover {
	background: #eecead;
}
.textbox{
	width:200px;
	padding:10px;
	color:#666;
	border:solid 1px #f2e2ce;
	}
.eventTable {
    vertical-align:top;
    margin:10px 0 0 0;
}


ol.faq li 
{
    border-bottom:solid 1px #cc9966;
    padding:10px 0;
}

ol.faq li ul li, ol.faq li ol li
{
    border: 0;
    padding:5px 0;
}

.Ad
{
    cursor:pointer;
}
.table 
{
}
.table td 
{
    vertical-align:top;
    text-align:left;
}